/**********YouTube App iFrame & Carousel**********/

.yt-app-main-container {
	width: 95vw;
}

.youtube-pod-page-container {
	width: 95%;
	margin: 0 auto;
}

/*****iFrame of YouTube App*****/

.youtube-pod-page-section {
	text-align: center;
	width: 100%;
}

.yt-subscribe-button-move {
    margin: 5px 0 0 11%;
}

#youtube-pod-page-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-pod-page-video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#yt-sub-btn-spacing {
    margin: 15px 0;
}


/*****Carousel of YouTube App*****/


.yt-carousel-more-vids {
    color: black;
    font-weight: 500;
    text-align: left;
		font-family: 'Roboto', 'sans-serif';
		margin: 10px 0 0 0;
		font-size: 15px;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.carousel__track-container {
    position: relative;
    overflow: hidden;
    background-color: rbga(0,0,0,0);
}

.youtube-pod-page-main {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 154px;
    transition: transform 250ms ease-in;
}

.youtube-pod-page-li {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 250px;
		height: 150px;
		padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 350ms;
}

.youtube-pod-page-li .thumb {
		width: 100%;
}

.yt-carousel-play-symbol {
    position: absolute;
    width: 50px;
    height: 35px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20%;
    display: flex;
		justify-content: center;
		align-items: center;
}

.yt-carousel-play-btn {
	width: 15px;
	height: 15px;
	opacity: 0.85;
}

.youtube-pod-page-li:hover .yt-carousel-play-symbol {
    background-color: rgba(178,34,34,1);
}

.yt-carousel-play-img {
	position: absolute;
	width: 35px;
	height: 35px;
}

.yt-carousel-overlays {
	position: absolute;
	margin: 2px 0 0 0;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
	height: 150px;;
	width: 250px;
	transition: 350ms;
}

.youtube-pod-page-li:hover .yt-carousel-overlays {
	position: absolute;
	background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0));
}

.yt-carousel-title {
	color: whitesmoke;
	font-family: 'Oswald', sans-serif;
	display: none;
	padding: 3px 5px;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 1px;
}

.youtube-pod-page-li:hover .yt-carousel-title {
	display: block;
}

.carousel__image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0);
    border: 0;
    border-radius: 50%;
    padding: 0;
}

.carousel__button--left{
    left: -25px;
}

.carousel__button--right{
    right: -25px;
}

.carousel__button img {
    width: 25px;
    height: 25px;
}

.carousel__nav {
    padding: 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,0.3);
    margin: 0 12px;
    padding: 0;
}

.carousel__indicator.current-slide {
    background: rgba(0,0,0,0.75);
}

.carousel-buttons-hidden {
    display: none;
}





@media (max-width: 500px) {

	.youtube-pod-page-main {
	    height: 94px;
	}

	.youtube-pod-page-li {
	    width: 150px;
			height: 90px;
	}

	.yt-carousel-overlays {
		height: 90px;;
		width: 150px;
	}

	.yt-carousel-play-symbol {
	    width: 40px;
	    height: 25px;
	}

	.yt-carousel-play-btn {
		width: 13px;
		height: 13px;
	}

	.yt-carousel-title {
		padding: 3px 5px;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0;
	}


}
